# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
.idea
build

migrations/
./static/
*.log
.qiniu_pythonsdk_hostscache.json
#TuClown/settings.py
cdnstatic/
static/
stickers/
__pycache__/
Tuclown_env/

settings.py

sql/
