.content-github {
    text-align: left;
    color: black;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.content-github a { color: #4183C4; }
.content-github a.absent { color: #cc0000; }
.content-github a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }





.content-github h1, .content-github h2, .content-github h3, .content-github h4, .content-github h5, .content-github h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.content-github h1:hover a.anchor, .content-github h2:hover a.anchor, .content-github h3:hover a.anchor, .content-github h4:hover a.anchor, .content-github h5:hover a.anchor, .content-github h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none; }

.content-github h1 tt, .content-github h1 code {
  font-size: inherit; }

.content-github h2 tt, .content-github h2 code {
  font-size: inherit; }

.content-github h3 tt, .content-github h3 code {
  font-size: inherit; }

.content-github h4 tt, .content-github h4 code {
  font-size: inherit; }

.content-github h5 tt, .content-github h5 code {
  font-size: inherit; }

.content-github h6 tt, .content-github h6 code {
  font-size: inherit; }

.content-github h1 {
  font-size: 28px;
  color: black; 
  font-weight:normal;
  color:#111;
  line-height:1em;
  }

.content-github h2 {
  font-size: 24px;
  /*border-bottom: 1px solid #cccccc;*/
  color: black; 
  font-weight:normal;
  color:#111;
  line-height:1em;}

.content-github h3 {
  font-size: 18px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
}

.content-github h4 {
  font-size: 16px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
}

.content-github h5 {
  font-size: 14px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
  }

.content-github h6 {
  color: #777777;
  font-size: 14px;
  font-weight:normal;
  color:#111;
  line-height:1em;
}




.content-github p, .content-github blockquote, .content-github ul, .content-github ol, .content-github dl, .content-github li, .content-github table, .content-github pre {
  margin: 15px 0; 
}



.content-github hr {
  /*background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;*/
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

/*.content-github body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {*/
  /*margin-top: 0;*/
  /*padding-top: 0; }*/

.content-github a:first-child h1, .content-github a:first-child h2, .content-github a:first-child h3, .content-github a:first-child h4, .content-github a:first-child h5, .content-github a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.content-github h1 p, .content-github h2 p, .content-github h3 p, .content-github h4 p, .content-github h5 p, .content-github h6 p {
  margin-top: 0; }

.content-github li p.first {
  display: inline-block; }

.content-github ul, .content-github ol {
  padding-left: 30px; }

.content-github ul :first-child, .content-github ol :first-child {
  margin-top: 0; }

.content-github ul :last-child, .content-github ol :last-child {
  margin-bottom: 0; }

.content-github dl {
  padding: 0; }
.content-github dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }
.content-github dl dt:first-child {
  padding: 0; }
.content-github dl dt > :first-child {
  margin-top: 0; }
.content-github dl dt > :last-child {
  margin-bottom: 0; }
.content-github dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }
.content-github dl dd > :first-child {
  margin-top: 0; }
.content-github dl dd > :last-child {
  margin-bottom: 0; }

.content-github blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
.content-github blockquote > :first-child {
  margin-top: 0; }
.content-github blockquote > :last-child {
  margin-bottom: 0; }

.content-github table {
  padding: 0; }
.content-github table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
.content-github table tr:nth-child(2n) {
    background-color: #f8f8f8; }
.content-github table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.content-github table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.content-github table tr th :first-child{
    margin-top: 0; }
.content-github table tr td :first-child {
    margin-top: 0; }
.content-github table tr th :last-child{
    margin-bottom: 0; }

.content-github table tr td :last-child {
    margin-bottom: 0; }

.content-github img {
  max-width: 100%; }

.content-github span.frame {
  display: block;
  overflow: hidden; }
.content-github span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
.content-github span.frame span img {
    display: block;
    float: left; }
.content-github span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.content-github span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
.content-github span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
.content-github span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.content-github span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
.content-github span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
.content-github span.align-right span img {
    margin: 0;
    text-align: right; }
.content-github span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
.content-github span.float-left span {
    margin: 13px 0 0; }
.content-github span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
.content-github span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.content-github code{
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.content-github tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.content-github pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.content-github .codehilite pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.content-github pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 14px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
.content-github pre code{
    background-color: transparent;
    border: none; }

.content-github pre tt {
    background-color: transparent;
    border: none; }


.content-github a:link, a:visited, a:hover, a:active {
    color: #afafaf;
    text-decoration:none;
}


/*pinsily*/

.content-github pre  span { 



}

.content-github {
  font-size: 14px;
}

.content-github h3 {
  font-size: 18px; 
  padding-bottom: 7px;
  border-bottom: 1px solid #afafaf;
}

.content-github hr {
    margin: 10px 0;
}

.content-github pre {
  border-left: 3px;
  font-size: 12px; 
}



.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080;} /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
.codehilite .c1 { color: #408080; font-style: normal;}

.content-github p {
  line-height: 150%;
}
.content-github {
    text-align: left;
    color: black;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.content-github a { color: #4183C4; }
.content-github a.absent { color: #cc0000; }
.content-github a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }





.content-github h1, .content-github h2, .content-github h3, .content-github h4, .content-github h5, .content-github h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.content-github h1:hover a.anchor, .content-github h2:hover a.anchor, .content-github h3:hover a.anchor, .content-github h4:hover a.anchor, .content-github h5:hover a.anchor, .content-github h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none; }

.content-github h1 tt, .content-github h1 code {
  font-size: inherit; }

.content-github h2 tt, .content-github h2 code {
  font-size: inherit; }

.content-github h3 tt, .content-github h3 code {
  font-size: inherit; }

.content-github h4 tt, .content-github h4 code {
  font-size: inherit; }

.content-github h5 tt, .content-github h5 code {
  font-size: inherit; }

.content-github h6 tt, .content-github h6 code {
  font-size: inherit; }

.content-github h1 {
  font-size: 28px;
  color: black; 
  font-weight:normal;
  color:#111;
  line-height:1em;
  }

.content-github h2 {
  font-size: 24px;
  /*border-bottom: 1px solid #cccccc;*/
  color: black; 
  font-weight:normal;
  color:#111;
  line-height:1em;}

.content-github h3 {
  font-size: 18px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
}

.content-github h4 {
  font-size: 16px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
}

.content-github h5 {
  font-size: 14px; 
  font-weight:normal;
  color:#111;
  line-height:1em;
  }

.content-github h6 {
  color: #777777;
  font-size: 14px;
  font-weight:normal;
  color:#111;
  line-height:1em;
}




.content-github p, .content-github blockquote, .content-github ul, .content-github ol, .content-github dl, .content-github li, .content-github table, .content-github pre {
  margin: 15px 0; 
}



.content-github hr {
  /*background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;*/
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

/*.content-github body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {*/
  /*margin-top: 0;*/
  /*padding-top: 0; }*/

.content-github a:first-child h1, .content-github a:first-child h2, .content-github a:first-child h3, .content-github a:first-child h4, .content-github a:first-child h5, .content-github a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.content-github h1 p, .content-github h2 p, .content-github h3 p, .content-github h4 p, .content-github h5 p, .content-github h6 p {
  margin-top: 0; }

.content-github li p.first {
  display: inline-block; }

.content-github ul, .content-github ol {
  padding-left: 30px; }

.content-github ul :first-child, .content-github ol :first-child {
  margin-top: 0; }

.content-github ul :last-child, .content-github ol :last-child {
  margin-bottom: 0; }

.content-github dl {
  padding: 0; }
.content-github dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }
.content-github dl dt:first-child {
  padding: 0; }
.content-github dl dt > :first-child {
  margin-top: 0; }
.content-github dl dt > :last-child {
  margin-bottom: 0; }
.content-github dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }
.content-github dl dd > :first-child {
  margin-top: 0; }
.content-github dl dd > :last-child {
  margin-bottom: 0; }

.content-github blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
.content-github blockquote > :first-child {
  margin-top: 0; }
.content-github blockquote > :last-child {
  margin-bottom: 0; }

.content-github table {
  padding: 0; }
.content-github table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
.content-github table tr:nth-child(2n) {
    background-color: #f8f8f8; }
.content-github table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.content-github table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.content-github table tr th :first-child{
    margin-top: 0; }
.content-github table tr td :first-child {
    margin-top: 0; }
.content-github table tr th :last-child{
    margin-bottom: 0; }

.content-github table tr td :last-child {
    margin-bottom: 0; }

.content-github img {
  max-width: 100%; }

.content-github span.frame {
  display: block;
  overflow: hidden; }
.content-github span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
.content-github span.frame span img {
    display: block;
    float: left; }
.content-github span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.content-github span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
.content-github span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
.content-github span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.content-github span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
.content-github span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
.content-github span.align-right span img {
    margin: 0;
    text-align: right; }
.content-github span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
.content-github span.float-left span {
    margin: 13px 0 0; }
.content-github span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
.content-github span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.content-github code{
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.content-github tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.content-github pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.content-github .codehilite pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.content-github pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 14px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
.content-github pre code{
    background-color: transparent;
    border: none; }

.content-github pre tt {
    background-color: transparent;
    border: none; }


.content-github a:link, a:visited, a:hover, a:active {
    color: #afafaf;
    text-decoration:none;
}


/*pinsily*/

.content-github pre  span { 



}

.content-github {
  font-size: 14px;
}

.content-github h3 {
  font-size: 18px; 
  padding-bottom: 7px;
  border-bottom: 1px solid #afafaf;
}

.content-github hr {
    margin: 10px 0;
}

.content-github pre {
  border-left: 3px;
  font-size: 12px; 
}



.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080;} /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
.codehilite .c1 { color: #408080; font-style: normal;}

.content-github p {
  line-height: 150%;
}
