html {
    position: relative;
    min-height: 100%;
}

body {
    background: url('../imgs/2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


.all-container {
    max-width: 1000px;
    margin: 0 auto;

    color:black;
    font-size: 14px;
}


/* ---------- header ----------------- */
header {
    padding: 0 0 0 0;
    margin: 0 auto;
}


.main-navigation {
    text-align: center;
    margin-bottom: 35px;
}

header h1 {
    font-size: 50px;
    padding-top: 20px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
}

header p {
    font-size: 10px;
    color: black;
    margin-bottom: 0;
    padding-bottom:10px;

}

header .header-img {
    text-align: center;
}

header .header-img img {
    width: 100%;
    height: 500px;
}

.container-fluid {
    padding:0;
}

header li {
    /*padding: 5px 10px;*/
    width: 100px;
    text-align: center;
}



header .navbar {
    padding: 0;
    margin: 30px 0;
}

ul {
    color: black;
    padding: 0;
}

header nav {
    margin:30px 0;
}

hr {
    margin: 20px 0 60px 0;
}

.cl-effect-12 {
    margin:30px 0;
}


/*--------------------------------------------------*/



/*-------------------------------------------------*/

/*------------------------------*/


.posts {
    margin-bottom: 50px;
}


.post-wrap {
    background-color: rgba(255,255,255,0.4);
    /*border-top: solid 3px #1ba1e2;*/
    padding: 20px 30px 15px 30px;
    margin: 0 5px 50px 5px;
    border-radius: 10px;
    box-shadow: 10px 8px 5px rgba(0,0,0,.1);

}

.post-header {
    font-size: 10px;
}

.post-img {
    margin: 5px 0;
    width: 90%;
    overflow: hidden;

    margin: auto;
}

.post-img img {
    /*margin: 0 10px;*/
    width: 100%;
    transition: all 1s;
    border-radius: 10px;
}

.post-img:hover img {  
    transform: scale(1.2);  
}  

.post-content {
    /*background-color: #FBFBFB;*/
    overflow: hidden;
    padding: 28px 30px;
    border-radius: 0 0 2px 2px;
}

.quote-words {
    position: relative;
    overflow: hidden;
    padding: 5px 0;
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5){}
.quote-icon, .rotate-quote-mark {
    background-image: url(../imgs/quotation_mark@2x.png);
}

a.quote-text, .quote-area p {
    color: #777;

}

a.quote-text {
    max-width: 530px;
    float: left;
    font-size: 13px;
    color: #444;
    margin: 0 30px;
    line-height: 20px;
}

.rotate-quote-mark {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.quote-icon, .rotate-quote-mark {
    width: 16px;
    height: 16px;
    background-image: url(../imgs/quotation_mark.png);
    -webkit-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
}


.rotate-quote-mark {
    float: right;
    /*text-align: right;*/
}


/*sildbar*/
.card {
    border-top: solid 3px #1ba1e2;
    margin-bottom: 50px;

}

.sidebar a {
    
   font-size: 12px;
   color: black;
    
}

.web-tag {
    overflow: hidden;
    /*margin-top: 5px;*/
}

.sidebar ul {
    list-style: none;
    font-size: 14px;
}

.web-tag-list {
    background-color: rgb(230, 230, 230);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    display: block;
    padding: 2px 6px;
    margin: 10px 10px 0 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 14px;
}


/*--------------------------------------------*/
/*时间轴*/


a:link {
    text-decoration: none;
}     
a:visited {
    text-decoration: none;
}  
a:hover {
    text-decoration: none;
}  
a:active {
    text-decoration: none;
}  

/**/

/*--------------------------------------------*/
/*分类&标签*/

.ct {
    margin-bottom: 20px;
    border-bottom: 1px #bcbcbc solid;
}

.post-card {
    border: 1px solid #1ba1e2;
    background-color: #1ba1e2;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 0 0 10px 0;
    font-size: 14px;

}

.post-card a {
    color: white;
}


/*--------------------------------------------*/
/*搜索*/
.search {
    margin: 0 auto;
}


.search form {
    margin:0 auto;
}

.nav-page .card-link {
    color: black;
}

.nav-page .card-body {
    padding: 0;
    color: black;
}

.nav-page .list-group {
    margin: 0;
}


.nav-page .list-group .list-group-item {
    /*border: 0;*/
    border-bottom: 1px #bcbcbc solid; 
    color: black;
    font-size: 14px;

}

.nav-page p {
    margin: 0;
}

.nav-page a {
    color: #888888;
    font-size: 14px;
}


/*----------------------*/
/*Model*/

.modal {
    color: black;
}

.modal-body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.modal-img {
    width: 100%;
    text-align: center;
    background-color: #888888;
}

.modal-img img {
    border: 1px #888888 solid;
    width: 100%;
    overflow: hidden;
    
    /*opacity: 0.5;*/
}

/*-------------------*/
/*pagination*/

.pagination-wrap {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(255,255,255, 0.4);
    padding: 10px 0;
    /*border-top: solid 3px #1ba1e2;*/
    padding: 20px 30px 15px 30px;
    margin: 0 5px 50px 5px;
    border-radius: 5px;
}

.pagination {
    
}

.pagination-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 0;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 11px;
    color: #fff;
    background: #444444;
    text-decoration: none;
}

.pagination li a:hover,
.pagination li.active a {
    color: #fff;
    background: #bcbcbc;
}

/*----------------------------------------------------*/
/*article-detail*/
.article-body {
    /*background-color: rgba(255,255,255,0.5);*/
    padding-top: 20px;
    border: solid #bcbcbc 1px;
    border-radius: 15px;
    /*border-top: solid 3px #1ba1e2;*/
}

.article-info {
    margin: 25px 0 0 0;
}

.article-body p {
    line-height: 1.75;
}


/*---------------------------------------------------------*/
/*comment*/
.comment-list {
    /*background-color: white;*/
    border: solid #bcbcbc 1px;
    /*border-top: solid 1px #1ba1e2;*/
    border-radius: 15px;
    margin: 50px 0 100px 0;
    padding-top: 20px;
}


.comment-btn {
    padding: 3px 3px 4px 3px; 
    font-size: 14px; 
    cursor:pointer;
}

.comment-root {
    border: 1px solid #afafaf;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
}

.comment-list span {
    font-size: 14px;
}

.comment-reply-text {
    font-size:14px; padding: 9px 0; margin:0; text-indent: 56px;
}

.comment-text {
    font-size:14px; padding: 9px 0; margin:0;
}

/*---------------------------------------------------------*/
.card, .list-group {
    background-color: rgba(255,255,255,0.4);
}

.card-header {
    cursor: pointer;   
    -webkit-transition: all .5s;   
    -moz-transition: all .5s;   
    -ms-transition: all .5s;   
    -o-transition: all .5s;   
    transition: all .5s;  
}

.card-header:hover {
    background: #2098d1;
    /*transition-duration: 1s;*/
    transition-timing-function: linear;
    /*transition-property:all;
    transition-duration:2s;
    transition-delay:2s;
    transition-timing-function:linear;*/
    /*padding-top: 3px;*/
}

.card-header:hover,.card-header:focus,.card-header:active{color:white;}
.card-header:hover:before,.card-header:focus:before,.card-header:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}



.archive-title{border-bottom:1px #eee solid;position:relative;padding-bottom:4px;margin-bottom:10px} 
.archives li{list-style-type:none}
.archives li a{padding:8px 0;display:block}
.archives li a:hover .atitle:after{background:#ff5c43}
.archives li a span{display: inline-block;width:100px;font-size:12px;text-indent:20px}
.archives li a .atitle{display: inline-block;padding:0 15px;position:relative}
.archives li a .atitle:after{position:absolute;left:-6px;background:#ccc;height:8px;width:8px;border-radius:6px;top:8px;content:""}
.archives li a .atitle:before{position:absolute;left:-8px;background:#fff;height:12px;width:12px;border-radius:6px;top:6px;content:""}
.archives{position:relative;padding:10px 0}
.archives:before{height:100%;width:4px;background:#eee;position:absolute;left:130px;content:"";top:0}
.m-title{position:relative;margin:10px 0;cursor:pointer} 
.m-title:hover:after{background:#ff5c43}
.m-title:before{position:absolute;left:127px; background:#fff; height:18px;width:18px;border-radius:6px;top:3px;content:""}
.m-title:after{position:absolute;left:127px;background:#ccc;height:12px;width:12px;border-radius:6px;top:6px;content:""}


/*-------------------*/

.back-top {

    position: fixed;
    bottom: 0;
    right: 0;
    /*width: 80px;*/
    /*height: 45px;*/
    margin: 50px;
    padding: 5px 25px;
    border: 1px solid #bcbcbc;
    
}

/**************************************************/
/*一言*/
.hitokoto {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: 10px 0 40px 0;
    padding: 20px 0;
    text-align: center;
}

.hitokoto p {
    margin: 0;
    padding: 0;
}