<!DOCTYPE html>
{% load static %}
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}TuClown | TuClown{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/Pacifico.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/hover.css' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>

    {% block ownstatic %}

    {% endblock %}

</head>
<body>

<div class="all-container">
    <header>

        <div class="container-fluid">
            <div class="header-title">
                <h1 class="text-center">TuClown</h1>
                <p class="text-center">~听说，小丑给了你一朵郁金香~</p>
            </div>


            <nav class="navbar navbar-expand-md navbar-light justify-content-center cl-effect-12">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                    <span class="navbar-toggler-icon" style="color: black;"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between align-items-center w-100"
                     id="collapsingNavbar2">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:archive' %}">Archive</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/xadmin">Admin</a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Navigation:index' %}">Navigation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:color' %}">Colors</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="hitokoto">
        <div>
            <p class="hitokoto-one"></p>
        </div>
    </div>

    {% block body %}


    {% endblock %}


    <div class="back-top" style="background: none; text-align: center;">
        <img src="{% static 'blog/imgs/rocket.png' %}" alt="back to top" style="width:30px;">
    </div>


    <footer class="navbar-fixed-bottom">
        <div class="container">
            <p class="text-center">TuClown | 2018 ©版權所有 | blog.pinsily.site </p>
        </div>
    </footer>

</div>


<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="{% static 'blog/js/popper.min.js' %}"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>

<script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-2" count="120"
        src="{% static 'blog/js/nest.js' %}"></script>

{% block ownjs %}

{% endblock %}

<script type="text/javascript">

    <!-- 一言接口 -->
    $(document).ready(function () {
        $.get("https://api.lwl12.com/hitokoto/v1?encode=realjson", function (data, status) {
            data = JSON.parse(data);
            let author = data['author'];
            let source = data['source'];
            let rs = data['text'];

            if (source !== '' || author !== '') {
                rs += " -- 《" + source + "》 " + author
            }

            $(".hitokoto-one").text(rs);
        });
    });


</script>


</body>

</html>
