{% load static %}
<!-- modal begin -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Comment</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="{% url 'comment:user_comment'%}" method="post">
          {% csrf_token %}
            <div class="form-group">
                
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="nick" id="nick" placeholder="nick">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="email">
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-sm-12">
                    <textarea type="text" class="form-control" name="comment_body" id="conent" placeholder="content" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-sm-12">
                    <input type="hidden" name="object_id" value="{{ article.pk }}">
                    <input type="hidden" name="content_type" value="article">
                    <input type="hidden" name="reply_comment_id" id="reply_comment_id" value="">
                </div>
            </div>


            <div class="form-group">
              <div class="col-sm-12">
              <button class="btn btn-primary btn-sm btn-block" id="comment_btn">Comment</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal end -->

<!-- comment list begin -->
<div class="col-12 comment-list">

  <p>评论列表&nbsp;&nbsp;

    <a href="javascript:reply(0);">
      <button class="btn btn-danger btn-group-justified comment-btn">我来说一句</button>
    </a>
    
  </p>
  <hr style="margin: 5px 0 10px 0;">

  <!-- Single Comment -->
  <div class="media mb-4">
    <h6 class="mt-0">
      Comments( {{ comment_list | length }} )
    </h6>
  </div>
  {% for comment in comment_list %}
  <div class="media mb-4 comment-root">
    <img class="d-flex mr-3 rounded-circle" src="{% static 'blog/imgs/1.jpg' %}" alt="" width="25" height="25" style="border: 0.1px solid #afafaf;">
    <div class="media-body text-justify" style="font-size: 14px;">
      <span>{{ comment.user_name }}</span>&nbsp;&nbsp;<span"> {{ comment.created_time | date:'Y-m-d h:i' }} </span>&nbsp;&nbsp;<span>#</span>
      <a href="javascript:reply({{comment.pk}});">回复</a>
        <p class="comment-text">{{ comment.text  }}</p>

      {% for reply in comment.root_comment.all %}

        <span>
          <img class="rounded-circle" src="{% static 'blog/imgs/1.jpg' %}" alt="" width="25" height="25" style="border: 0.1px solid #afafaf; margin: 2px; margin-right: 15px; ">
          <span>{{ reply.user_name }}</span>&nbsp;&nbsp;
          <span> {{ reply.created_time | date:'Y-m-d h:i' }} </span>&nbsp;&nbsp;
          <span> 回复 </span>&nbsp;&nbsp;
          <span> {{ reply.reply_name }}: </span>&nbsp;&nbsp;
          <span> # </span>&nbsp;&nbsp;
          <a href="javascript:reply({{reply.pk}});">回复</a>
        </span>
          <p class="comment-reply-text">{{ reply.text }}</p>

      {% endfor %}

    </div>
  </div>
  {% empty %}

  <div class="media mb-4">
    <div class="media-body">
      <h6 class="mt-0">暂时没有评论！</h6>
    </div>
  </div>
  {% endfor %}

</div>

<!-- comment list end -->

<script type="text/javascript">
  
  function reply(reply_comment_id) {
      $("#reply_comment_id").val(reply_comment_id);
      $('#commentModal').modal({keyboard: false});
  }

</script>
