{% extends "blog/base.html" %}
{% load static %}
{% load paginate_tags %}
{% block title %}TuClown | Home{% endblock %}

{% block body %}
            
    <!-- body -->
    <div class="container-fluid">
        <div class="row" id="row">
            <div class="col-sm-12 col-md-8 posts">
                {% paginate article_list 6 %}
                {% for article in article_list  %}
                <div class="post-wrap">
                    <div class="post">
                        <div class="post-header">
                            <h3 class="text-center">{{ article.title }}</h3>
                            <p class="text-center">
                            <span><i class="fa fa-clock-o"></i>&nbsp; {{ article.created_time }}</span>&nbsp; &nbsp;
                            <span><i class="fa fa-edit"></i>&nbsp; {{ article.author }}</span>&nbsp; &nbsp;
                            <span><i class="fa fa-eye"></i>&nbsp; {{ article.views }}</span>&nbsp; &nbsp;
                            <span><a><i class="fa fa-heart"></i>&nbsp; {{ article.likes }}</a></span>
                            </p>
                        </div>
                        <div class="post-img text-center">
                            <img src="{{ article.image.url }}">
                        </div>
                        <div class="post-content">
                            <p>{{ article.abstract }}</p>
                        </div>

                        <div class="post-more">
                            <a href="{% url 'blog:detail' article.id %}">Read More</a>
                        </div>
                            
                    </div>
                    
                </div>

                {% endfor %}

                

                {% include "blog/pagination.html" %}
            </div>

            {% include "blog/sidebar.html" %}

            
            
        </div>
    </div>

    <script type="text/javascript">
        var elementPosition = $('#sidebar-float').offset().top;
        var objWidth = $('#sidebar').width();
        $(window).scroll(function(){
                if($(window).scrollTop() > elementPosition){
                      $('#sidebar-float').css('position','fixed').css('top','0').css('width',objWidth);
                } else {
                    $('#sidebar-float').css('position','static');
                }    
        });
    </script>



{% endblock %}