{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/css/slibar.css' %}">

<div class="col-sm-12 col-md-4 sidebar d-none d-sm-block d-xs-block d-md-block" id='sidebar'>
    <div id="sidebar-float">

        <div class="box">
            <div class="cell">
                <div class="cell-image" style="text-align:center; margin: 0 auto;">
                    <img class="rounded-circle" src="{% static 'blog/imgs/head.jpg' %}" alt="">
                </div>
                <div>
                    <div style="font-family: 'Pacifico', cursive;text-align:center; cursor: pointer;" class="fades">
                        <p>Pinsily&nbsp;&nbsp;<a href="{% url 'rss' %}"><i class="fa fa-rss fades"
                                                                           title="RSS订阅"></i></a></p>
                    </div>
                </div>

            </div>
            <div class="cell">
                <div style="text-align: center;">
                    <p>朽木自雕，烂泥自扶</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="cell">
                <div class="fades">Search Center</div>
            </div>
            <div class="cell">
                <div>
                    <div class="row text-center" id="search-center" tabindex="0" outline=0" hidefocus="true">
                        <div class="col-12 form-group" style="margin-bottom: 0;">
                            <input type="text" id="search-text" class="form-control" placeholder="Search"
                                   style="padding: 5px 10px; font-size: 14px;">

                            <div id="search-result" style="text-align: left; max-height: 200px; overflow: auto;">
                                <ul class="search-li" id="search-li" style="font-size: 14px;">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="cell">
                <div class="fades">Data Center</div>
            </div>
            <div class="cell">
                <div>
                    <div class="row text-center">
                        <div class="col-4">
                            <p>{{ views }}</p>
                            <p>访问量</p>
                        </div>
                        <div class="col-4">
                            <p>{{ favs }}</p>
                            <p>点赞量</p>
                        </div>
                        <div class="col-4">
                            <p>{{ visiters }}</p>
                            <p>访客量</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div>
                    <div class="row text-center">
                        <div class="col-4">
                            <p>{{ blogs }}</p>
                            <p>文章数量</p>
                        </div>
                        <div class="col-8">
                            <p id="span_dt_dt" style="line-height: 300%;"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" data-no-instant="">
    var elementPosition = $('#sidebar-float').offset().top;
    var objWidth = $('#sidebar').width();
    $(window).scroll(function () {
        if ($(window).scrollTop() > elementPosition) {
            $('#sidebar-float').css('position', 'fixed').css('top', '0').css('width', objWidth);
        } else {
            $('#sidebar-float').css('position', 'static');
        }
    });

    /*
    * 实时获得搜索结果
    * **/
    $(document).ready(function () {

        $("#search-text").keyup(function () {
            var text = $("#search-text").val();
            $.get("{% url 'blog:search' %}", {"text": text}, function (data) {
                //console.log(data);
                titles = data['titles'];
                ids = data['ids'];
                for (var i = 0; i < titles.length; i++) {
                    var id = ids[i];
                    var url = "";
                    $("#search-li").append('<li><a class="search-a" href="/article/'+id+'">' + titles[i] + '</a></li>');
                }
            });
        });

        $("#search-text").keydown(function () {
            $('#search-li').empty();
        });

       $("#search-center").blur(function () {
           //$('#search-result').blur(function(){
                //console.log("hello");
               $('#search-li').empty();
           //});
        });

    });


    function show_date_time() {
        window.setTimeout("show_date_time()", 1e3);
        var BirthDay = new Date("August 15,2017 18:19:35"),
            today = new Date,
            timeold = today.getTime() - BirthDay.getTime(),
            msPerDay = 864e5,
            e_daysold = timeold / msPerDay,
            daysold = Math.floor(e_daysold),
            e_hrsold = 24 * (e_daysold - daysold),
            hrsold = Math.floor(e_hrsold),
            e_minsold = 60 * (e_hrsold - hrsold),
            minsold = Math.floor(60 * (e_hrsold - hrsold)),
            seconds = Math.floor(60 * (e_minsold - minsold));
        span_dt_dt.innerHTML = "<font color=black>" + daysold + "</font> 天 <font color=black>" + hrsold + "</font> 时 <font color=black>" + minsold + "</font> 分 <font color=black>" + seconds + "</font> 秒";
    }

    show_date_time();


</script>
