html {
    position: relative;
    min-height: 100%;
}

body {
   /* background-color: #eee;
    background-image: url('../imgs/bg.jpg');
    background-size: 100% 100%;
    background-position: center;*/
    background: url('../imgs/2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.all-container {
    max-width: 1000px;
    margin: 0 auto;

    color:black;
    font-size: 14px;
}

header {
    padding: 0 0 0 0;
    margin: 0 auto;
}


.main-navigation {
    text-align: center;
    margin-bottom: 35px;
}

header h1 {
    font-size: 50px;
    padding-top: 20px;
    font-weight: 0;
    font-family: 'Pacifico', cursive;
}

header p {
    font-size: 10px;
    color: black;
    margin-bottom: 0;
    padding-bottom:10px;

}

header .header-img {
    text-align: center;
}

header .header-img img {
    width: 100%;
    height: 500px;
}

.container-fluid {
    padding:0;
}

header li {
    /*padding: 5px 10px;*/
    width: 100px;
    text-align: center;
}



header .navbar {
    padding: 0;
    margin: 0;
}

header > div > nav > div > ul > li:nth-child(1):hover {
    background-color: rgb(255,134,65);
}

header > div > nav > div >  ul > li:nth-child(2):hover {
    background-color: rgb(207,109,206);
}

header > div > nav > div >  ul > li:nth-child(3):hover {
    background-color: rgb(255,132,166);
}

header > div > nav > div >  ul > li:nth-child(4):hover {
    background-color: rgb(157,230,91);
}

header > div > nav > div >  ul > li:nth-child(5):hover {
    background-color: rgb(176,176,176);
}

ul {
    color: black;
    padding: 0;
}

.dropdown-menu {
    padding: 0;
    text-align: center;
    border-radius: 5px;
}

.dropdown-menu .dropdown-item {
    color: #bcbcbc;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(255,134,65);
    color: white;
}

hr {
    margin: 20px 0 60px 0;
}


/*--------------------------------------------------*/



/*-------------------------------------------------*/

/*------------------------------*/


.posts {
    margin-bottom: 50px;
}


.post-wrap {
    background-color: rgba(255,255,255,0.4);
    border-top: solid 3px #1ba1e2;
    padding: 20px 30px 15px 30px;
    margin: 0 5px 50px 5px;
    border-radius: 5px;

}

.post-header {
    font-size: 10px;
}

.post-img {
    margin: 5px 0;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.post-img img {
    /*margin: 0 10px;*/
    width: 100%;
    transition: all 1s;
}

.post-img:hover img {  
    transform: scale(1.2);  
}  

.post-content {
    margin-top: 10px;
    font-size: 14px;
    text-indent: 28px;
}





/*sildbar*/
.card {
    border-top: solid 3px #1ba1e2;
    margin-bottom: 50px;

}


/*
footer {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;


}*/



/*--------------------------------------------*/
/*时间轴*/
.timeline {
    padding: 0;
    margin: 0;
}

.tl-header {
    display: block;
    width: 12em;
    text-align: center;
    margin-bottom: 0;
    margin:20px 2px 0 2px;
}

.tl-header h2 {
    margin:0;
    margin-top: 20px;
}

.btn-rounded {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
}

.m-t-none {
    margin-top: 0!important;
}


.tl-item {
    display: block;
}

.tl-wrap {
    display: block;
    padding: 15px 0 15px 20px;
    margin-left: 6em;
    border-color: #dee5e7;
    border-style: solid;
    border-width: 0 0 0 4px;
}

.tl-wrap:before {
    position: relative;
    top: 15px;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: -27px;
    background: #edf1f2;
    border-color: inherit;
    border-style: solid ;
    border-width: 3px;
    border-radius: 50%;
    content: "";
    box-shadow: 0 0 0 4px #f0f3f4;
}

.tl-wrap:after, .tl-wrap:before {
    display: table;
    content: " ";
}

.b-info {
    border-color: #1ba1e2;
}

.btn-info {
    /* color: #fff; */
    background-color: #1ba1e2;
    border-color: #1ba1e2;
}

.tl-date {
    position: relative;
    top: 10px;
    display: block;
    float: left;
    width: 4.5em;
    margin-left: -7.0em;
    margin-top: -1px;
    text-align: right;
    color: #000;
}

.tl-content {
    position: relative;
    display: inline-block;
    /*padding-top: 10px;*/
    padding-bottom: 5px;
    margin-top: 5px;
}

.tl-content.card {
    margin-bottom: 0;
    /*border-radius: 5px;*/
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    line-height: 1.42857143;
}

.padder {
    padding:0 15px 7px 15px;
}



.h5 {
    margin:0;
}

.bg-info {
    color: #dcf2f8;
    background-color: #1ba1e2;
}

.arrow.pull-up {
    top: 19px;
}

.arrow {
    color:#23b7e5;
    /*background-color:#23b7e5; */
}

.arrow.left {
    /*top: 50%;*/
    left: -10.5px;
    margin-top: -9px;
    border-right-color: #1ba1e2;
    border-left-width: 0;
    color:;
}

.arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.arrow {
    z-index: 10;
    border-width: 9px;
}

.bg-info .text-lt {
    color: #fff!important;
}

.bg-info {
    background-color: #1ba1e2!important; 
}

.bg-info:hover {
    background-color: ‭ #fff!important; 
}

.bg-info a {
    color: #fff;
}

a:link {
    text-decoration: none;
}     
a:visited {
    text-decoration: none;
}  
a:hover {
    text-decoration: none;
}  
a:active {
    text-decoration: none;
}  

/**/

/*--------------------------------------------*/
/*分类&标签*/

.ct {
    margin-bottom: 20px;
    border-bottom: 1px #bcbcbc solid;
}

.post-card {
    border: 1px solid #1ba1e2;
    background-color: #1ba1e2;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 0 0 10px 0;
    font-size: 14px;

}

.post-card a {
    color: white;
}


/*--------------------------------------------*/
/*搜索*/
.search {
    margin: 0 auto;
}


.search form {
    margin:0 auto;
}

.nav-page .card-link {
    color: black;
}

.nav-page .card-body {
    padding: 0;
    color: black;
}

.nav-page .list-group {
    margin: 0;
}


.nav-page .list-group .list-group-item {
    /*border: 0;*/
    border-bottom: 1px #bcbcbc solid; 
    color: black;
    font-size: 14px;

}

.nav-page p {
    margin: 0;
}

.nav-page a {
    color: #888888;
    font-size: 14px;
}


/*----------------------*/
/*Model*/

.modal {
    color: black;
}

.modal-body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.modal-img {
    width: 100%;
    text-align: center;
    background-color: #888888;
}

.modal-img img {
    border: 1px #888888 solid;
    width: 100%;
    overflow: hidden;
    
    /*opacity: 0.5;*/
}

/*-------------------*/
/*pagination*/

.pagination-wrap {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(255,255,255, 0.4);
    padding: 10px 0;
    /*border-top: solid 3px #1ba1e2;*/
    padding: 20px 30px 15px 30px;
    margin: 0 5px 50px 5px;
    border-radius: 5px;
}

.pagination {
    
}

.pagination-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 0;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 11px;
    color: #fff;
    background: #444444;
    text-decoration: none;
}

.pagination li a:hover,
.pagination li.active a {
    color: #fff;
    background: #bcbcbc;
}

/*----------------------------------------------------*/
/*article-detail*/
.article-body {
    background-color: white;
    padding-top: 20px;
    border: solid #bcbcbc 1px;
    border-radius: 15px;
    /*box-shadow: 5px 5px 2px #888888;*/
    border-top: solid 3px #1ba1e2;
}

.article-info {
    margin: 25px 0 0 0;
}

/*---------------------------------------------------------*/
/*comment*/
.comment-list {
    background-color: white;
    border: solid #bcbcbc 1px;
    border-top: solid 3px #1ba1e2;
    border-radius: 15px;
    margin: 50px 0 100px 0;
    padding-top: 20px;
}

.card, .list-group {
    background-color: rgba(255,255,255,0.4);
}

.card-header {
    cursor: pointer;   
    -webkit-transition: all .5s;   
    -moz-transition: all .5s;   
    -ms-transition: all .5s;   
    -o-transition: all .5s;   
    transition: all .5s;  
}

.card-header:hover {
    background: #2098d1;
    /*transition-duration: 1s;*/
    transition-timing-function: linear;
    /*transition-property:all;
    transition-duration:2s;
    transition-delay:2s;
    transition-timing-function:linear;*/
    /*padding-top: 3px;*/
}

.card-header:hover,.card-header:focus,.card-header:active{color:white;}
.card-header:hover:before,.card-header:focus:before,.card-header:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}

