{% load static %}
<div class="logo">
    <a href="">
        <i>
            <img src="{% static 'Navigation/imgs/wechat.png' %}">
        </i>
        <span style="display: block; font-size: 14px;">Clown导航</span>
        <span style="display: block; font-size: 12px; color:rgb(97, 82, 74);">www.baidu.com</span>

    </a>


</div>

<div class="sidebar-group">
    <div class="sidebar-item">
        <a href="#">
            <i></i>
            <span>首页</span>
        </a>
    </div>

    {% for item in categories %}



    <div class="sidebar-item">
        <a href="#{{ item.english_name }}">
            <i></i>
            <span>{{ item.name }}</span>
        </a>
    </div>

    {% endfor %}

</div>